.tabs {
  margin-bottom: 10px;
}

.tab {
  padding: 10px 15px;
  cursor: pointer;
  background: #ddd;
  border: none;
  margin-right: 5px;
}

.tab.active {
  background: blue;
  color: white;
}

.content {
  display: none;
  border: 1px solid #ccc;
  padding: 15px;
}

.content.show {
  display: flex;
}
